v2-backup/css/panels.css
v2-backup/css/modals.css
v2-backup/css/layout.css
v2-backup/css/forms.css
v2-backup/css/buttons.css
v2-backup/css/base.css
v2-backup/app-v2.js
v2-backup/app-modular.js
Script/WEBWUI-Sender.cs
modules/websocket.js
modules/ui.js
modules/theme.js
modules/renderer.js
modules/modals.js
modules/manager.js
index.html
css/utilities.css
css/tokens.css
css/tabs.css
css/panels.css
css/modals.css
css/layout.css
css/forms.css
css/buttons.css
css/base.css
app-modular.js
WEBWUI_Icon.svg
v2/rework_data/structure.html
v2/rework_data/Instructions.md
